:root {
  --light-blue: #cfdbd5;
  --white: #ffffff;
  --gold: #f5cb5c;
  --black: #141414;
  --gray: #333533;
  --font-titles: "Anton", sans-serif;
  --font-text: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/css/fonts/Inter-Regular.ttf") format("truetype");
}

* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: var(--black);
  font-family: "Inter";
  color: var(--white);
  height: 100vh;
  display: flex;
}

a {
  text-decoration: none;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello {
  display: flex;
  justify-content: center;
  font-family: var(--font-titles);
  font-size: 3em;
  margin-top: 1.3em;
}

.typing {
  display: flex;
  justify-content: center;
  font-size: 20px;
  white-space: pre-wrap;
  text-align: center;
  width: 50%;
}

#typing-container {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.wrapper {
  margin-top: 200px;
  margin-left: 558px;
}

.wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #fff;
  color: #141414;
  border-radius: 50%;
}

.btn {
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.active .btn,
.btn:hover {
  outline: 3px solid #0561ee;
  outline-offset: -4px;
}
.item {
  position: absolute;
  list-style: none;
  transition: transform 0.5s;
  transition-delay: var(0s);
}
.wrapper.active .item:nth-child(1) {
  transform: translateX(-65px);
}
.wrapper.active .item:nth-child(2) {
  transform: translateY(-65px);
}
.wrapper.active .item:nth-child(3) {
  transform: translateX(65px);
}
.link:hover {
  color: #fff;
  transition: background-color 0.5s;
}
.back:hover {
  background-color: #f5cb5c;
  color: inherit;
}

.all {
  display: flex;
  align-items: center;
}

.gh:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #adfd97 0%,
    #97fdf1 5%,
    #fa49fd 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.li:hover {
  background-color: #0072b1;
  color: inherit;
}

.waves {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform: rotate(180deg);
}

.parallax > use {
  animation: move-forever 60s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 20s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 30s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 40s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 60s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media only screen and (max-width: 800px) {
  .waves {
    height: 60px;
    min-height: 60px;
  }
}

@media only screen and (max-width: 620px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .wrapper {
    padding-bottom: 20px;
    padding-top: 200px;
    display: none;
  }
  #typing-container {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
}
