:root {
  --light-blue: #cfdbd5;
  --white: #e8eddf;
  --gold: #f5cb5c;
  --black: #141414;
  --gray: #333533;
  --font-titles: "Anton", sans-serif;
  --font-text: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-text);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.header-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: -20vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro-name {
  font-size: 4em;
}

.intro-title {
  font-size: 1.5em;
  line-height: 1em;
  width: fit-content;
  margin-top: -0.3em;
}

.intro-headshot {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

#mainPhoto {
  width: 100%;
  height: 425px;
  object-fit: cover;
  margin-bottom: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#mainPhoto.fade-out {
  opacity: 0;
}

.imgCarousel {
  width: 150px;
  height: 150px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
}

.imgCarousel:hover {
  width: 160px;
  height: 160px;
  border: 2px solid var(--white);
  margin: 5px;
}

.imgCarousel.fade-in {
  opacity: 1;
}

.imgCarousel.fade-out {
  opacity: 0;
}

img {
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.waves {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform: rotate(180deg);
}

.parallax > use {
  animation: move-forever 60s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 20s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 30s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 40s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 60s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
