:root {
  --light-blue: #cfdbd5;
  --white: #e8eddf;
  --gold: #f5cb5c;
  --black: #242423;
  --light-black: #333533;
  --font-titles: "Anton", sans-serif;
  --font-text: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-text);
  font-size: 16px;
  height: 100vh;
}

.header-layout {
  display: flex;
  justify-content: center;
}

.intro-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-name {
  font-size: 10em;
  font-family: var(--font-titles);
}

.intro-title {
  margin-top: -40px;
  font-size: 2em;
}

.intro-headshot {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin-top: 23px;
}

.info {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.main-project {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-filter: blur(1px);
  opacity: 50%;
  transition: opacity 1s;
  transition: all 1s;
}

.main-project,
img {
  width: 75%;
  border-radius: 15px;
}

.main-project:hover {
  opacity: 100%;
  filter: none;
  -webkit-filter: none;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  width: 100%;
  filter: blur(0px);
  -webkit-filter: blur(1px);
  opacity: 50%;
  transition: opacity 1s;
  transition: all 1s;
  border-radius: 15px;
}

.grid-item:hover {
  opacity: 100%;
  filter: none;
  -webkit-filter: none;
}
