:root {
  --light-blue: #cfdbd5;
  --white: #e8eddf;
  --gold: #f5cb5c;
  --black: #141414;
  --gray: #333533;
  --font-titles: "Anton", sans-serif;
  --font-text: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-text);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.intro-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.intro-name {
  font-size: 10em;
  font-family: var(--font-titles);
  margin-bottom: 0;
  line-height: 1;
  width: 100%;
}

.intro-title {
  font-size: 2em;
  margin-top: 0.5em;
}

.intro-headshot {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin-left: 1em;
}

body {
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

#mainPhoto {
  width: 100%;
  height: 275px;
  object-fit: cover;
  margin-bottom: 10px;
}

.imgCarousel {
  width: 100px;
  height: 100px;
  transition: 0.3s;
}

.imgCarousel:hover {
  width: 110px;
  height: 110px;
  border: 2px solid var(--white);
  margin: 3px;
}

img {
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}
