:root {
  --white: #E0DFD5;
  --red: #ef6461;
  --yellow: #e4b363;
  --black: #313638;
}

html{scroll-behavior:smooth}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
}

header {
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  background-color: var(--black);
}

.nav li {
  float: left;
}

nav li a {
  display: flex;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Oswald", sans-serif;
  font-display: auto;
}

nav li a.active {
  background-color: var(--red);
  color: var(--white);
}

nav li a:hover:not(.active) {
  background-color: var(--yellow);
  color: var(--white);
}

.matthewstandish img {
  max-width: 100%;
  border-radius: 50%;
}

h1 {
  font-family: "Oswald, bold", sans-serif;
  font-display: auto;
  color: var(--white);
  font-size: 120px;
  text-shadow: 4px 4px 4px var(--red);
}

img {
  display: block;
  max-width: 100%;
}


footer {
  background-color: #333;
  color: var(--white);
  padding: 20px 0;
}

.foot {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project1{
display: flex;
border-style: solid;
border-width: 3px;
border-color: var(--white);
padding: 5px;
}

.project2{
display: flex;
border-style: solid;
border-width: 3px;
border-color: var(--white);
padding: 5px;
}
.project3{
display: flex;
border-style: solid;
border-width: 3px;
border-color: var(--white);
padding: 5px;
}

.project4{
display: flex;
border-style: solid;
border-width: 3px;
border-color: var(--white);
padding: 5px;
}