:root {
  --white: #e0dfd5;
  --red: #ef6461;
  --yellow: #e4b363;
  --black: #313638;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  border: border-box;
}

body {
  background-color: var(--black);
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  background-color: var(--black);
}

.nav li {
  float: left;
}

li a {
  display: flex;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Oswald", sans-serif;
  font-display: auto;
}

li a.active {
  background-color: var(--red);
  color: var(--white);
}

li a:hover:not(.active) {
  background-color: var(--yellow);
  color: var(--white);
}

header {
  color: var(--red);
  display: flex;
  justify-content: center;
  font-size: 45px;
}
main {
  color: var(--white);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin: 10px;
}

.skills {
  list-style-type: none;
}

.projects {
  list-style-type: none;
}
footer {
  background-color: var(--red);
  color: var(--white);
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
