:root {
  --white: #e0dfd5;
  --red: #ef6461;
  --yellow: #e4b363;
  --black: #313638;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: var(--black);
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  background-color: var(--black);
}

nav li a {
  display: flex;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Oswald", sans-serif;
  font-display: auto;
}

nav li a.active {
  background-color: var(--red);
  color: var(--white);
}

nav li a:hover:not(.active) {
  background-color: var(--yellow);
  color: var(--white);
}

.container {
  background-color: red;
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--red);
  flex: 0 0 300px;
}

.header h1 {
  font-family: "Oswald, bold", sans-serif;
  font-display: auto;
  color: var(--white);
  font-size: auto;
  text-shadow: 4px 4px 4px var(--white);
}

.header img {
  max-width: 100%;
  border-radius: 50%;
  margin-left: 20px;
  height: 200px;
}

.main {
  background-color: var(--black);
  flex: 1 0 auto;
  flex-flow: row wrap;
}

.projects {
  border: 4px solid #222;
  min-height: 250px;
  flex: 1 0 50%;
}

.project1 img {
  width: 20px;
}

footer {
  background-color: var(--red);
  color: var(--white);
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .header h1 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .header h1 {
    flex-direction: column;
  }
}
