:root {
  --white: #e0dfd5;
  --red: #ef6461;
  --yellow: #e4b363;
  --black: #313638;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: var(--red);
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  background-color: var(--red);
  max-width: 2000px;
}

nav li a {
  display: flex;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Oswald", sans-serif;
  font-display: auto;
}

nav li a.active {
  background-color: var(--black);
  color: var(--white);
}

nav li a:hover:not(.active) {
  background-color: var(--yellow);
  color: var(--white);
}

.container {
  background-color: var(--red);
  min-height: 100vh;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  flex: 0 0 300px;
  margin: 0 auto;
}

.header h1 {
  font-family: "Oswald, bold", sans-serif;
  font-display: auto;
  color: var(--white);
  font-size: 40px;
  text-shadow: 4px 4px 4px var(--white);
  margin-top: 0 auto;
}

.header img {
  max-width: 100%;
  border-radius: 50%;
  margin-left: 20px;
  height: 150px;
}

.main {
  background-color: var(--black);
  flex: 1 0 auto;
  flex-flow: row wrap;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects p {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  display: block;
  justify-content: center;
  align-self: center;
}

.projects img {
  margin: 10px;
}

footer {
  background-color: var(--red);
  color: var(--white);
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  .header h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
}

@media screen and (max-width: 700px) {
  .header h1 {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .header {
    display: block;
    justify-content: center;
    align-self: center;
  }
}
